 {% load static %} {% load cart_template_tags %}
<!-- ======= Top Bar ======= -->
<!-- <section id="topbar" class="d-flex align-items-center fixed-top {% if not title %} topbar-transparent {% endif %}">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
        <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
        <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sat: 11:00 AM - 23:00 PM</span></i>
    </div>
</section> -->

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center {% if not title %} header-transparent {% endif %}">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div class="logo me-auto">
            <h1>
                <a href="{% url 'home' %}">
                    <img href="/" src="{% static 'img/logo.svg' %}" style="height: 75px;width: 75px;" alt="logo" class="shadow-1-strong">
                </a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="{% static 'img/logo.svg' %}" alt="" class="img-fluid"></a> -->
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#why-us">Products</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#specials">Recipes</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#blog">Blog</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#">
                        <span>
                          <strong><i class="bx bxs-user" style="cursor:pointer"></i></strong> Account
                        </span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                        {% endif %} {% if user.is_superuser %}
                        <li><a href="{% url 'home' %}">Sale</a></li>
                        <li><a target="_blank" href="/admin">Admin Page</a></li>
                        {% endif %} {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">My Profile</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li><a class="nav-link scrollto" href="{% url 'order-summary' %}"><span class="fa fa-shopping-cart pt-2" style="font-size: 1.5rem;"></span><span class="badge badge-warning" style="font-size: 1rem;">{{ request.user | cart_item_count }}</span></a></li>
                {% endif %}

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <!-- <a href="#book-a-table" class="book-a-table-btn scrollto">Book a table</a> -->

    </div>
</header>
<!-- End Header -->